{% extends 'myapp/base.html' %}

{% block title %}Обо мне{% endblock %}

{% block content %}
    <h1>"Это главная страница."</h1>
    <p>Чтобы увидеть информацию про меня перейдите в <td><a href="{% url 'about' %}">about</a></p>
    <p>Чтобы увидеть информацию о всех пользователях перейдите в <td><a href="{% url 'get_all_users' %}"> get_all_users</a></p>
    <p>Чтобы увидеть информацию о пользователях из г. Санкт-Петербург перейдите в <td><a href="{% url 'get_user_Saint_Petersburg' %}"> get_user_Saint_Petersburg</a></p>  
    <p>Чтобы увидеть информацию о пользователях из г. Москва перейдите в <td><a href="{% url 'get_user_Moscow' %}"> get_user_Moscow</a></p>  
    <p>Чтобы добавить новый продукт в базу данных перейдите в <td><a href="{% url 'product_form' %}"> product_form</a></p>  
{% endblock %}
